@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    JetBrainsMono Nerd Font,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: theme(colors.text-color);
  background-color: rgba(255, 255, 255, 0);
}

.menu-item {
  height: 5rem;
  width: 100%;
  padding: 5px;
}

.menu-button {
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 10px;
  transition: all 0.05s ease-in-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-button p {
  opacity: 0.5;
  font-size: 0.9rem;
}

.menu-button:hover {
  background-color: theme(colors.focus-color);
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: theme(colors.focused-text-color);
}

.tray-item {
  height: 2.2rem;
  width: 2.2rem;
  border-radius: 5px;
  transition: all 0.05s ease-in-out;
  border: 1px solid theme(colors.border-color);
  justify-content: center;
  padding: auto;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.tray-item:hover {
  background-color: theme(colors.focus-color);
  border: 0px solid theme(colors.focus-color);
  transition: all 0.05s ease-in-out;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  color: theme(colors.focused-text-color);
}


.editor-paragraph {
  outline: blue;
}

h1.level-1 {
  padding-left: 0em;
}

h2.level-2 {
  padding-left: 1em;
}

#line {
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

#line:focus {
  background-color: theme(colors.focus-color);
}

#line:hover {
  background-color: theme(colors.focus-color);
}

/* Add more rules for more levels as needed */

.settings {
  justify-content: center;
}

.scrollbar::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 166, 0, 0);        /* color of the tracking area */
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: theme(colors.focus-color);   /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}